/* font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive; */



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*-----------------------
 header section start 
 ------------------*/
.navbar{
    height: 128px;
}

img{
    height: 100px;
    
}

.nav-logo{
    text-align: left;
   
}
.navbar h1{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav-menu a{
    background-color: transparent;
    color: rgb(20, 20, 20);
    padding: 5px 10px;
    margin: 20px 0;
}
  /* ----------------
  header section end
  ------------------ */


 /* profile section start */

 .profile .top-icon{
    width: 130px;
    height: 110px;
    position: absolute;
    right: 150px;
    top: 30px;
    transition:width 2s, transform 2s;
}

.profile .top-icon:hover{
    transform: rotate(360deg);
    width:150px ;
}

.profile-desc p{
    color: gray ;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.profile .bottom-icon{
    width: 130px;
    height: 110px;
    position: absolute;
    left: 150px;
    bottom: 30px;
    transition:width 2s, transform 2s;
}

.profile .bottom-icon:hover{
    transform: rotate(360deg);
    width:150px;
}

/* profile section end */

  /* about section start */
  .aboutme-image{
      margin-top: 100px;
  }

  .aboutme-image img{
     height: 270px;
     width: 250px;

}

.aboutme-desc p{
    text-align: left;
}
   /* about section end */

      /* experience section start */

      .professional-experience{
          padding: 1px 5px;
      }
   /* experience section end */



      /* achievment section start here */

      .achievement{
          padding-right: 50px;
      }

      .contact button{
    
        padding: 15px;
        width: 120px; 
    }

    .contact-icon{
        position: relative;
    }

    .media-button{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 200px;
        padding: 40px;
    }
   /* achievment section end here */

   /* footer section start here */
   .footer-menu a{
    color: black;
    display: inline;
    margin: 5px 15px;
    font-size: 1.5 rem;

}


.footer-desc{
    font-size: 1rem;
    font-weight: bold;
}
   /* footer section end here */